:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  flex-grow: 2;
  padding: 0 1rem;
  width: 100%;
}

.text {
  margin: 0 1rem;

  &.completed {
    text-decoration: line-through;
  }
}
