<mat-card>

  <mat-card-header>
    <mat-card-title class="mat-h1">Todo List</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <app-todo *ngFor="let todo of todos$ | async; trackBy: trackTodo" [todo]="todo"></app-todo>

    <form class="form" ngForm #createTodoForm="ngForm" (submit)="add()">

      <button
        mat-icon-button
        color="accent"
        class="btn-todos-submit"
        type="submit"
        [disabled]="(formInput$ | async).length < 1">
        <mat-icon>add_box</mat-icon>
      </button>

      <mat-form-field
        hideRequiredMarker="true"
        floatLabel="never">
        <input
          name="formInput"
          type="text"
          placeholder="Add a todo..."
          [value]="formInput$ | async"
          (input)="onInputChange($event.target.value)"
          autocomplete="off"
          autofocus
          required
          matInput>
      </mat-form-field>

    </form>

  </mat-card-content>

</mat-card>
