:host {
  display: block;
  padding: 1.25rem;
}

.form {
  display: flex;
  justify-content: flex-start;
}

.mat-card {
  margin: 0 auto;
  max-width: 31.25rem;
}

.mat-form-field {
  width: 89%;
}

.mat-card-content {
  padding: 0 0.5rem;
}

.btn-todos-submit {
  height: auto;
  padding-right: 0.75rem;
  width: auto;
}
